<ion-header>

	<ion-toolbar>
		<!-- <ion-buttons slot="start">      
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons> -->
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		  </ion-buttons>
		<ion-title>Login</ion-title>
	</ion-toolbar>
  
</ion-header>

<ion-content fullscreen>

	<ion-card *ngIf="sessionService.getIsLogin() == false">
	      
      <ion-card-content>
	  
		<div *ngIf="loginError == true" style="color: red;">
			{{errorMessage}}
		</div>
	  
		<form #customerLoginForm="ngForm" (ngSubmit)="customerLogin(customerLoginForm)" >
		
			<div style="color: red;">
			
				<div *ngIf="inemail.invalid && (inemail.dirty || inemail.touched || submitted)" class="errorText">
					<div *ngIf="inemail.errors.required">
						Email is required.
					</div>
					<div *ngIf="inemail.errors.minlength">
						Email must be at least 4 characters long.
					</div>
					<div *ngIf="inemail.errors.maxlength">
						Email cannot exceed 32 characters.
					</div>
				</div>
				
				<div *ngIf="inpassword.invalid && (inpassword.dirty || inpassword.touched || submitted)" class="errorText">
					<div *ngIf="inpassword.errors.required">
						Password is required.
					</div>
					<div *ngIf="inpassword.errors.minlength">
						Password must be at least 4 characters long.
					</div>
					<div *ngIf="inpassword.errors.maxlength">
						Password cannot exceed 32 characters.
					</div>
				</div>
				
				<div *ngIf="loginErrorMessage" class="errorText">
					{{loginErrorMessage}}
				</div>
				
			</div>

			<ion-list>

				<ion-item>
					<ion-label fixed>Email</ion-label>
					<ion-input type="text" id="email" name="email" [(ngModel)]="email" minlength="4" required="true" #inemail="ngModel"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label fixed>Password</ion-label>
					<ion-input type="password" id="password" name="password" [(ngModel)]="password" minlength="4" maxlength="32" required="true" #inpassword="ngModel"></ion-input>
				</ion-item>
				
				<!-- <ion-item> -->
					
				<!-- </ion-item>
				<ion-item>			 -->
					<ion-button expand="block" size="default" type="submit" ion-button>
						Login
						
					</ion-button>

					<ion-button size="small" color="secondary" (click)="clear()">
						Clear
					</ion-button>	
				<!-- </ion-item> -->

			</ion-list>
			
		</form>
        
      </ion-card-content>
	  
    </ion-card>	
	
	<ion-card *ngIf="sessionService.getIsLogin() == true">
	      
      <ion-card-content>
	  
		You are login as {{sessionService.getCurrentCustomer().email}}	
		<!-- Credit Card Number: {{sessionService.getCreditCard().cardNumber}} -->
        
      </ion-card-content>

	  <ion-toolbar>
		<ion-button expand="full" (click)="customerLogout()">
			<ion-icon slot="start" name="exit"></ion-icon>
			Logout
		</ion-button>
	</ion-toolbar>
	  
    </ion-card>

</ion-content>

<!-- <ion-footer>

	<ion-title>&copy; 2021 IS3106.</ion-title>
  
</ion-footer> -->
