<ion-header>
  <ion-toolbar>
    <ion-title>checkout-voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/voucher.jpg"/>
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
      <ion-card-subtitle>Price: $100.00</ion-card-subtitle>
      <ion-card-subtitle>Valid till: 2222222</ion-card-subtitle>
      <ion-label>Voucher Value: 99999.00</ion-label>
      <ion-card-content>
        Testing
      </ion-card-content>
    </ion-card-header>

  
    <ion-button expand="full">Confirm</ion-button>


  </ion-card>
</ion-content>
