<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			View My Vouchers
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="resultSuccess == true && customerVouchers?.length > 1">
	<ion-card *ngFor="let customerVoucher of customerVouchers" button (click)="viewVoucherDetails(customerVoucher)">
		<ion-card-header>
			<ion-card-title>Title: {{customerVoucher.voucher.title}}</ion-card-title>
		</ion-card-header>
		<!-- <ion-label>{{customerVoucher.voucher.expiryDate}}</ion-label> -->
		<ion-card-content>
			Redemption status: {{customerVoucher.redeemed}}
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-content *ngIf="resultSuccess == true && customerVouchers?.length > 0 && !(customerVouchers?.length>1)">
	<ion-card button (click)="viewVoucherDetails(customerVouchers)">
		<ion-card-header>
			<ion-card-title>Title: {{customerVouchers.voucher.title}}</ion-card-title>
		</ion-card-header>
		<!-- <ion-label>{{customerVouchers.voucher.expiryDate}}</ion-label> -->
		<ion-card-content>
			Redemption status: {{customerVouchers.redeemed}}
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-content>
	<ion-card *ngIf="resultSuccess == false || customerVouchers?.length == 0">
		You have not bought any vouchers yet
	</ion-card>
</ion-content>