<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Point of Sale System (Ionic v1.0)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>      
    <ion-card-header>        
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This version of the retail Point-Of-Sale (POS) system includes the following enhancements:
      </p>
      <ul style="margin-left: 20px;">
        <li>Enhancement of existing use cases to meet v5.0 expanded logical data model.</li>
        <li>Implementation of new use cases in v5.0 (except customer related use cases).</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
	<ion-toolbar>
	  <ion-title>&copy; 2021 IS3106.</ion-title>
	</ion-toolbar>
</ion-footer>
