<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>View Restaurant Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		

		<div *ngIf="retrieveRestaurantError == true" style="color: red;">
			Restaurant ID {{restaurantId}} does not exist!
		</div>

		<ion-list *ngIf="retrieveRestaurantError == false && restaurantToView != null">

			<ion-card-header>
				<!-- <ion-card-subtitle>Restaurant Details</ion-card-subtitle> -->
				<ion-card-title>{{restaurantToView.name}}</ion-card-title>
			</ion-card-header>

			<ion-slides>
				<ion-slide *ngFor="let photo of restaurantToView.photos">
					<img src="{{photo}}" />
				</ion-slide>
			</ion-slides>

			<!-- <ion-item>
				<ion-label><b>Restaurant Name</b></ion-label>
				{{restaurantToView.name}}
			</ion-item> -->

			<ion-item>
				<!-- <ion-label>Restaurant Description</ion-label> -->
				<ion-card-content>{{restaurantToView.description}}</ion-card-content>
			</ion-item>

			<ion-item>
				<!-- <ion-label><b>Restaurant Address</b></ion-label> -->
				<ion-icon name="navigate-outline"></ion-icon>
				{{restaurantToView.address}}
			</ion-item>
			<ion-item>
				<!-- <ion-label><b>Restaurant Postal Code</b></ion-label> -->
				<ion-icon name="pin-outline"></ion-icon>
				{{restaurantToView.postalCode}}
			</ion-item>
			<ion-item>
				<ion-icon name="call-outline"></ion-icon>
				<!-- <ion-label class="ion-text-wrap"><b>Restaurant Contact Number</b></ion-label> -->
				{{restaurantToView.contactNumber}}
			</ion-item>
			<ion-item>
				<!-- <ion-label><b>Restaurant Opening Hours</b></ion-label> -->
				<ion-icon name="time-outline"></ion-icon>
				{{restaurantToView.openTime}} - {{restaurantToView.closeTime}}
			</ion-item>
			<!-- <ion-item> -->
				<ion-button expand="block" color="success" size="default" (click)="promptReservation()" *ngIf="restaurantToView.acceptReservation">
					Make Reservation
				</ion-button>
			<!-- </ion-item>
			<ion-item> -->
				<ion-button expand="block" color="secondary" size="default"  (click)="promptReview()">
					Write Review
				</ion-button>
			<!-- </ion-item> -->
		</ion-list>
	</ion-card>

	<ion-card>

		<ion-card-header>
			<ion-card-subtitle>Dishes</ion-card-subtitle>
		</ion-card-header>

		<ion-list *ngIf="retrieveRestaurantError == false && restaurantToView != null 
			&& restaurantToView.dishes.length>0">
			<ion-slides>
				<ion-slide *ngFor="let dish of restaurantToView.dishes">
					<div>
						<img src="{{dish.photo}}" />
						<ion-item>
							<ion-label><b>Dish Name</b></ion-label>
							{{dish.name}}
						</ion-item>
						<ion-item>
							<ion-label><b>Dish Description</b></ion-label>
							{{dish.description}}
						</ion-item>
						<ion-item>
							<ion-label><b>Recommended</b></ion-label>
							<ion-icon name="star" color="warning" *ngIf="dish.recommended == true"></ion-icon>
						</ion-item>
					</div>

				</ion-slide>
			</ion-slides>

		</ion-list>
	</ion-card>

	<ion-card>

		<ion-card-header>
			<ion-card-subtitle>Promotions</ion-card-subtitle>
		</ion-card-header>

		<ion-list *ngIf="retrieveRestaurantError == false && restaurantToView != null 
			&& restaurantToView.promotions.length>0">
			<ion-slides>
				<ion-slide *ngFor="let promotion of restaurantToView.promotions">
					<div>
						<img src="{{promotion.photo}}" />
						<ion-item>
							<ion-label><b>Promotion Title</b></ion-label>
							{{promotion.title}}
						</ion-item>
						<ion-item>
							<ion-label><b>Promotion Content</b></ion-label>
							{{promotion.content}}
						</ion-item>
						<!-- <ion-item>
							<ion-label><b>Promotion Period</b></ion-label>
							{{promotion.startDate}}-{{promotion.endDate}}
						</ion-item> -->
					</div>

				</ion-slide>
			</ion-slides>

		</ion-list>
	</ion-card>

	<div *ngIf="retrieveRestaurantError == false && restaurantToView != null 
			&& restaurantToView.reviews.length==0">
		Restaurant does not have any reviews yet!
	</div>
	<div *ngIf="retrieveRestaurantError == false && restaurantToView != null 
			&& restaurantToView.reviews.length>0">
		<ion-card *ngFor="let review of restaurantToView.reviews">

			<ion-card-header>
				<ion-card-subtitle>Reviews</ion-card-subtitle>
			</ion-card-header>

			<ion-item>
				<ion-label><b>Customer</b></ion-label>
				{{review.creator.firstName}} {{review.creator.lastName}}
			</ion-item>
			<ion-item>
				<ion-label><b>Content</b></ion-label>
				{{review.content}}
			</ion-item>
			<ion-item>
				<ion-label><b>Rating</b></ion-label>
				{{review.rating}}
			</ion-item>
			<ion-item>
				<ion-icon color="danger" name="heart"></ion-icon>
				{{review.customerLikes.length}}&nbsp; 
				<ion-button color="danger" slot="end" (click)="handleLike(review)" *ngIf='review.hasLiked != true'>
					Like this review
				</ion-button>

			</ion-item>

		</ion-card>
	</div>

</ion-content>