<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      View My Reservations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content *ngIf="resultSuccess == false ">
    <ion-card>
      You have not made any reservations yet.
    </ion-card>
  </ion-content>

  <ion-card *ngFor="let reservation of reservations">
    

    <!-- <div *ngIf="noReservation == false" style="color: blue;">
      You do not have any reservation currently.
    </div> -->

    
    
    <ion-card-content *ngIf="reservations?.length > 0 && resultSuccess == true">
      <ion-list>
        <ion-card-header>
          <ion-card-title>{{reservation.restaurant.name}}</ion-card-title>
        </ion-card-header>
        <ion-item>
          Date: {{reservation.reservationDate | slice :0:10}}
        </ion-item>
        <ion-item>
          Time: {{reservation.reservationTime - reservation.reservationTime %1}} : {{reservation.reservationTime%1*6}}0
        </ion-item>
        <ion-item>
          Table size: {{reservation.tableSizeAssigned}}
        </ion-item>
        <ion-item>
          Remarks: {{reservation.remark}}
        </ion-item>
        <ion-item>
          <ion-button (click)="deleteReservation($event, reservation)">
            Cancel Reservation
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content *ngIf="resultSuccess == true && reservations?.length != 0 && !(reservations?.length > 2)">
	<ion-card>
		<ion-card-header>
          <ion-card-title>Restaurant: {{reservations.restaurant.name}}</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                Date: {{reservations.reservationDate}}
              </ion-item>
              <ion-item>
                Time: {{reservations.reservationTime}}
              </ion-item>
              <ion-item>
                Number of pax: {{reservations.numOfPax}}
              </ion-item>
              <ion-item>
                Table size: {{reservations.tableSizeAssigned}}
              </ion-item>
              <ion-item>
                Remarks: {{reservations.remark}}
              </ion-item>
              <ion-item>
                <ion-button (click)="deleteReservation(reservations)">
                  Cancel Reservation
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
	</ion-card>
</ion-content> -->

