<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vouchers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let voucher of vouchers" >
    <img src="../../assets/img/voucher.jpg"/>
    <ion-card-header>
      <ion-card-title>{{voucher.title}}</ion-card-title>
      <ion-card-subtitle>Price: ${{voucher.price}}.00</ion-card-subtitle>
      <ion-card-subtitle>Valid till: {{voucher.expiryDate}}</ion-card-subtitle>
      <ion-label>Voucher Value: ${{voucher.amountRedeemable}}.00</ion-label>
      <ion-card-content>
        {{voucher.content}}
      </ion-card-content>
    </ion-card-header>

  
    <ion-button expand="full" (click)="checkoutVocher($event, voucher)">Buy</ion-button>


  </ion-card>

</ion-content>
