<ion-header>

  <ion-toolbar>
		<ion-buttons slot="start">      
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Change Password</ion-title>
	</ion-toolbar>

</ion-header>

<ion-content>

  <form *ngIf="retrieveCustomerError == false && customerToChange != null" #changePasswordForm="ngForm"
    (ngSubmit)="update(changePasswordForm)">

    <ion-card>

      <ion-card-content>

        <div *ngIf="retrieveCustomerError == true" style="color: red;">
          Customer ID {{customerId}} does not exist!
        </div>

        <div *ngIf="resultSuccess == true" style="color: blue;">
          {{message}}
        </div>

        <div *ngIf="resultError == true" style="color: red;">
          {{message}}
        </div>

        <div style="color: red;">

          <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="errorText">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 4 characters long.
            </div>
            <div *ngIf="password.errors.maxlength">
              Password cannot exceed 32 characters.
            </div>
          </div>
        </div>
        <ion-list>

          <ion-item>
            <ion-label><b>New Password</b></ion-label>
            <ion-input type="text" id="password" name="password"
              [(ngModel)]="customerToChange.password" required="true" #password="ngModel"></ion-input>
          </ion-item>

        </ion-list>


      </ion-card-content>

    </ion-card>

    <ion-card style="text-align: center;">

      <ion-card-content>
        <ion-button type="submit" ion-button block>
          Change
        </ion-button>
      </ion-card-content>
      
    </ion-card>


  </form>

</ion-content>

<ion-toolbar>
  <ion-title>&copy; 2021 IS3106.</ion-title>
</ion-toolbar>